.footer { width: 100%; background: #212121; position: relative;  }
.waveBox { width: 100%; height: 154px; position: absolute; top:-154px; }

.waveBox > div { position: relative; width: 100%; height: 100%; }
.wave1 { 
    position: absolute; left: 0; bottom: -1px;
     background-image: url('https://magracarta.github.io/magracarta/img/wave1.png');
     width: 100%; height: 100%; background-position: 0% 100%; background-repeat: no-repeat; background-size: 5712px 145px; 
    
     z-index: 3;
}
.wave2 { 
    position: absolute; left: 0; bottom: 10px;
     background-image: url('https://magracarta.github.io/magracarta/img/wave2.png');
     width: 100%; height: 100%; background-position: 1% 100%; background-repeat: no-repeat; background-size: 5712px 145px; 
     
}
.wave3 { 
    position: absolute; left: 0; bottom: 30px;
     background-image: url('https://magracarta.github.io/magracarta/img/wave3.png');
     width: 100%; height: 100%; background-position: 2% 100%; background-repeat: no-repeat; background-size: 5712px 145px; 
    
}


.eyeAni { padding-top: 50px; text-align: center; }
.eyeAni span { position: relative; display: inline-block; width: 53px; height: 95px; background-color: #fff; border-radius: 40px; }
.eyeAni span i { transition: all .3s; width: 20px; height: 20px; display: block; position: absolute; background: #000; border-radius: 50%; left: 100%; top: 0%; }
.eyeAni .left { margin-right: 20px; }
.eyeAni .right {  }
.context { text-align: center; color: #fff; padding: 60px 0 190px;}
.context p { font-size: 20px; }
.context ul { margin-top: 30px; display: flex;  justify-content: center; align-content: center;}
.context li { padding: 0 50px; }
.context li a { font-size: 15px; }


.context ul li:nth-child(2) { position: relative; }
.context ul li:nth-child(2)::before { content: ''; display:block; width:1.5px; height:7px; position:absolute; left: 0; top:50%; margin-top:-3.5px; background:#fff; }
.context ul li:nth-child(2)::after  { content: ''; display:block; width:1.5px; height:7px; position:absolute; right: 0; top:50%; margin-top:-3.5px; background:#fff; }

@media screen and (max-width: 1200px) {
    .wave1 { background-size: 2500px 80px; background-position: 5% 100%; }
    .wave2 { background-size: 2500px 80px; background-position: 6% 100%; bottom: 5px; }
    .wave3 { background-size: 2500px 80px; background-position: 8% 100%; bottom: 10px; }
    .eyeAni span { width:29px; height: 52px;}
    .eyeAni .left { margin-right: 10px; }
    .eyeAni span i { width: 11px; height: 11px;  margin-left: -5px !important;  margin-top: -5px !important; }
    .eyeAni .left i { left: 75%; top: 75%;}
    .eyeAni .right i { left: 25%; top: 75%;}
    .context { margin: 0 20px; padding: 40px 0 180px; }
    .context p { font-size: 15px; }
    .context li { width: 33.3333%;padding: 0; }
}